/* Resetting base styles */
@font-face {
  font-family: "Nanum Square";
  src: url("fonts/NanumSquare-Regular.woff2") format("woff2"),
    url("fonts/NanumSquare-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Square";
  src: url("fonts/NanumSquare-Bold.woff2") format("woff2"),
    url("fonts/NanumSquare-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: "Nanum Square", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nanum Square", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

blockquote,
dl,
dd,
figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

::-ms-input-placeholder {
  color: #999;
}

::placeholder {
  color: #999;
}
